.c-social-media-boxes__grid {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
}

.c-social-media-boxes__grid-columns--1-1 {
  grid-template-columns: 1fr;
  grid-template-areas: "item1";
}

.c-social-media-boxes__grid-columns--1-2 {
  grid-template-columns: 1fr;
  grid-template-areas:
    "item1"
    "item2";
}

.c-social-media-boxes__grid-columns--1-3 {
  grid-template-columns: 1fr;
  grid-template-areas:
    "item1"
    "item2"
    "item3";
}

.c-social-media-boxes__grid-columns--1-4 {
  grid-template-columns: 1fr;
  grid-template-areas:
    "item1"
    "item2"
    "item3"
    "item4";
}

.c-social-media-boxes__grid-columns--1-5 {
  grid-template-columns: 1fr;
  grid-template-areas:
    "item1"
    "item2"
    "item3"
    "item4"
    "item5";
}

.c-social-media-boxes__grid-columns--1-6 {
  grid-template-columns: 1fr;
  grid-template-areas:
    "item1"
    "item2"
    "item3"
    "item4"
    "item5"
    "item6";
}

.c-social-media-boxes__grid-columns--2-1 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "item1 item2";
}

.c-social-media-boxes__grid-columns--2-2 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "item1 item2"
    "item3 item4";
}

.c-social-media-boxes__grid-columns--2-3 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "item1 item2"
    "item3 item4"
    "item5 item6";
}

.c-social-media-boxes__grid-columns--3-1 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "item1 item2 item3";
}

.c-social-media-boxes__grid-columns--3-2 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "item1 item2 item3"
    "item4 item5 item6";
}

.c-social-media-boxes__grid-columns--4-1 {
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "item1 item2 item3 item4";
}

.c-social-media-boxes__grid-columns--4-2 {
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "item1 item2 item3 item4"
    "item5 item5 item6 item6";
}

.c-social-media-boxes__grid-item {
  list-style: none;
  display: grid;
}

.c-social-media-boxes__grid-item--1 {
  grid-area: item1;
}

.c-social-media-boxes__grid-item--2 {
  grid-area: item2;
}

.c-social-media-boxes__grid-item--3 {
  grid-area: item3;
}

.c-social-media-boxes__grid-item--4 {
  grid-area: item4;
}

.c-social-media-boxes__grid-item--5 {
  grid-area: item5;
}

.c-social-media-boxes__grid-item--6 {
  grid-area: item6;
}

.c-social-media-boxes__link {
  background-color: transparent;
  color: inherit;
  padding: 0.8em;
  text-align: center;
  text-decoration: none;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    padding-right: 0.5em;
  }

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    cursor: pointer;
  }
}

.c-social-media-boxes__link--borders {
  border-width: 5px;
  border-style: solid;
  border-image-slice: 50%;
  border-image-width: 2.5em;
}

.c-social-media-boxes__instagram {
  background-image: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);

  &:hover,
  &:focus,
  &:active {
    background-image: linear-gradient(150deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  }
}

.c-social-media-boxes__instagram--borders {
  border-image: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.c-social-media-boxes__facebook {
  background-image: linear-gradient(-135deg, #3b5998, #2b4170);

  &:hover,
  &:focus,
  &:active {
    background-image: linear-gradient(-150deg, #2b4170, #3b5998);
  }
}

.c-social-media-boxes__facebook--borders {
  border-image: linear-gradient(-135deg, #3b5998, #2b4170);
}

.c-social-media-boxes__linkedin {
  background-image: linear-gradient(45deg, #009cda, #0073b2);

  &:hover,
  &:focus,
  &:active {
    background-image: linear-gradient(150deg, #009cda, #0073b2);
  }
}

.c-social-media-boxes__linkedin--borders {
  border-image: linear-gradient(45deg, #009cda, #0073b2);
}

.c-social-media-boxes__twitter {
}

.c-social-media-boxes__twitter--borders {
}

.c-social-media-boxes__youtube {
}

.c-social-media-boxes__youtube--borders {
}

.c-social-media-boxes__cv-download {
  background-image: linear-gradient(45deg, #00da41, #00b24a);

  &:hover,
  &:focus,
  &:active {
    background-image: linear-gradient(150deg, #00da41, #00b24a);
  }
}

.c-social-media-boxes__cv-download--borders {
  border-image: linear-gradient(45deg, #00da41, #00b24a);
}

.c-social-media-boxes__link--plain {
  background-image: linear-gradient(45deg, rgb(34, 94, 170) 0%, rgb(119, 200, 190) 200%);
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.05);
}
