$breakpoint: 52.5em; //840px - end of tablets portrait, 8 columns below, 12 columns above

.c-banner-text-only {
  .g-grid__container {
    display: grid;
  }

  .g-grid__container--1\/3-1\/3-1\/3 {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "one" "two" "three";
    @media (min-width: $breakpoint) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "one two three";
    }
  }

  .g-grid__item--one {
    grid-area: one;
  }

  .g-grid__item--two {
    grid-area: two;
  }

  .g-grid__item--three {
    grid-area: three;
  }
}

.c-banner-text-only__list {
  // Reset list styles
  list-style: none;
  margin: 0;
  padding: 0;

  background-color: inherit;
  text-transform: uppercase;
  color: inherit;
  text-align: center;
}

.c-banner-text-only__list-item {
  border-right: 0;
  border-bottom: 2px solid #fff;
  padding: 1em;

  &:first-of-type {
    border-top: 2px solid #fff;
  }

  @media (min-width: $breakpoint) {
    border-bottom: 0;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
  }

  &:last-of-type {
    border-right: 0;
  }
}
